html{
  font-size: 62.5%;
}
body{
  
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height: 100vh;
  background: url('../../images/bg-desktop.svg');
  background-position: left top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-color: #674BB1;
  background-size: cover;
}
.main {
  display: grid;
  grid-template-areas: "header header"
                        "image texts" 
                          "footer footer";
  grid-template-columns: 60% 40%;
  grid-template-rows: 225px auto;
  
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 0  70px;
 
}
.main .header{
  grid-area: header;
  display: flex;
  margin-bottom: 80px;
  min-height: 75px;
  padding-top: 60px;
  height: auto;
  justify-content: space-between;
  font-size: 0%

  
}

.main .image{
  grid-area: image;
}

.main .texts{
  grid-area: texts;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main .texts h1{
  color: white;
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
}

.main .texts .text{
  color: white;
  font-size: 1.8rem;
  margin-bottom: 35px;
}

.main .texts .btn {
  background-color: white;
  border-radius: 50px;
  color: #674BB1;
  padding: 14px 63px;
  font-size: 1.9rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  font-family: Poppins, sans-serif;
  
}
.main .texts .btn:hover{
  background-color: #e980e7;
  color: white;
}

.main .footer{
  grid-area: footer;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  margin-right: 20px;
}
.main .footer i {
  font-size: 3.5rem;
  margin-left: 20px;
  color: white;
}
.main .footer i:hover {
  font-size: 3.5rem;
  margin-left: 20px;
  color: #e980e7;
}
.icons_btns {
  display: flex;
}


@media(max-width: 900px) {
  .main {
    grid-template-areas:  "header"
                          "image " 
                          "texts"
                          "footer";
    grid-template-columns: 2fr;
  }
  .main .texts{
    text-align: center;
    padding: 0 15%;
  }
  .main .texts .btn {
    margin: 0 auto;
    padding: 10px 65px;
    font-size: 1.4rem;
  }
  .main .footer {
    justify-content: center;
    margin: 30px 10px 30px 10px;
  }
  .main .footer i {
    font-size: 3.5rem;
    margin-right: 20px;
    color: white;
  }
}

@media(max-width: 375px) {
  .main{
    padding: 0 45px;
    background: url('../../images/bg-mobile.svg') left top no-repeat;
    grid-template-areas:  "header"
                          "image " 
                          "texts"
                          "footer";
    grid-template-columns: 1fr;
    
  }
  .main .header{
    justify-content: left;
  }
  .main .header .logo {
    width: 160px;
  }
  
  .main .texts h1{
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
  
  
  .main .texts{
    text-align: center;
  }
  
  .main .texts .text{
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
  .main .texts .btn {
    margin: 0 auto;
    padding: 10px 65px;
    font-size: 1.4rem;
  }
  .main .footer {
    justify-content: center;
    margin: 30px 10px 0 10px;
  }
  .main .footer i {
    font-size: 2.5rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .main .footer i:hover {
    font-size: 2.5rem;
    margin-left: 10px;
    margin-right: 10px;
    color: #e980e7;
  }
  
}